In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("winequality.csv")
df.head(10)

,type,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,white,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6
1,white,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6
2,white,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6
3,white,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6
4,white,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6
5,white,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6
6,white,6.2,0.32,0.16,7.0,0.045,30.0,136.0,0.9949,3.18,0.47,9.6,6
7,white,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6
8,white,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6
9,white,8.1,0.22,0.43,1.5,0.044,28.0,129.0,0.9938,3.22,0.45,11.0,6

# #  Min-Max Normalization

In [3]:
def Max_min(v):
    b = (((v-Minimum)/(Maximum-Minimum))*(New_Maximum-New_minimum))+New_minimum
    return b

a = df['total sulfur dioxide']
print(a)
Minimum = df['total sulfur dioxide'].min()
print("Minimum = ",Minimum)
Maximum = df['total sulfur dioxide'].max()
print("Maximum = ",Maximum)

0       170.0
1       132.0
2        97.0
3       186.0
4       186.0
        ...
6492     44.0
6493     51.0
6494     40.0
6495     44.0
6496     42.0
Name: total sulfur dioxide, Length: 6497, dtype: float64
Minimum =  6.0
Maximum =  440.0

In [4]:
New_Maximum = 1
New_minimum = 0                    #Range(0-1)
b = []
for i in list(a):               #Normalization
    b.append(Max_min(i))

df["Normalizes"] = b             #adding column
df = df.filter(["total sulfur dioxide","Normalizes"])     #Extract only required Column
df

      total sulfur dioxide  Normalizes
0                    170.0    0.377880
1                    132.0    0.290323
2                     97.0    0.209677
3                    186.0    0.414747
4                    186.0    0.414747
...                    ...         ...
6492                  44.0    0.087558
6493                  51.0    0.103687
6494                  40.0    0.078341
6495                  44.0    0.087558
6496                  42.0    0.082949

[6497 rows x 2 columns]

# # Z-Score Normalization

In [5]:
b = df["total sulfur dioxide"]

def Z_score(v,Mean,Standard_deviation):
    Z = (v-Mean)/Standard_deviation       
    return Z

Mean = df["total sulfur dioxide"].mean()
print("Mean = ",Mean)
Standard_deviation = df["total sulfur dioxide"].std()
print("Standard_deviation = ",Standard_deviation)

Mean =  115.7445744189626
Standard_deviation =  56.52185452263032

In [6]:
c = []
for j in list(b):
    c.append(Z_score(j,Mean,Standard_deviation))     #Normalization

df["Normalizes"] = c
df = df.filter(["total sulfur dioxide","Normalizes"])     #Extract only required Column
df

      total sulfur dioxide  Normalizes
0                    170.0    0.959902
1                    132.0    0.287595
2                     97.0   -0.331634
3                    186.0    1.242978
4                    186.0    1.242978
...                    ...         ...
6492                  44.0   -1.269324
6493                  51.0   -1.145479
6494                  40.0   -1.340094
6495                  44.0   -1.269324
6496                  42.0   -1.304709

[6497 rows x 2 columns]

# # Decimal Normalization

In [7]:
c = df["total sulfur dioxide"]

Maximum = df['total sulfur dioxide'].max()
print("Maximum = ",Maximum)
length = len(str(int(Maximum)))
print(length)

def Decimal(v):
    D = v / 10**length            #Decimal Normalizations
    return D

x = []
for j in list(c):
    x.append(Decimal(j))                #Normalization
    
df["Normalizes"] = x
df = df.filter(["total sulfur dioxide","Normalizes"])     #Extract only required Column
df

Maximum =  440.0
3

      total sulfur dioxide  Normalizes
0                    170.0       0.170
1                    132.0       0.132
2                     97.0       0.097
3                    186.0       0.186
4                    186.0       0.186
...                    ...         ...
6492                  44.0       0.044
6493                  51.0       0.051
6494                  40.0       0.040
6495                  44.0       0.044
6496                  42.0       0.042

[6497 rows x 2 columns]